In [8]:
import pandas as pd
import numpy as np
import datetime as dt

# Reading data

In [14]:
file_path = 'AAPL.csv'
dataDF = pd.read_csv(file_path)

# Adding "day_of_week" column

In [15]:
dataDF['Date'] = pd.to_datetime(dataDF['Date'])
dataDF['day_of_week'] = dataDF['Date'].dt.weekday_name

In [16]:
dataDF.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,day_of_week
0,2018-07-09,189.500000,190.679993,189.300003,190.580002,190.580002,19756600,Monday
1,2018-07-10,190.710007,191.279999,190.179993,190.350006,190.350006,15939100,Tuesday
2,2018-07-11,188.500000,189.779999,187.610001,187.880005,187.880005,18831500,Wednesday
3,2018-07-12,189.529999,191.410004,189.309998,191.029999,191.029999,18041100,Thursday
4,2018-07-13,191.080002,191.839996,190.899994,191.330002,191.330002,12513900,Friday
5,2018-07-16,191.520004,192.649994,190.419998,190.910004,190.910004,15043100,Monday
6,2018-07-17,189.750000,191.869995,189.199997,191.449997,191.449997,15534500,Tuesday
7,2018-07-18,191.779999,191.800003,189.929993,190.399994,190.399994,16393400,Wednesday
8,2018-07-19,189.690002,192.550003,189.690002,191.880005,191.880005,20286800,Thursday
9,2018-07-20,191.779999,192.429993,190.169998,191.440002,191.440002,20676200,Friday