In [1]:
import pandas as pd
import numpy as np
import datetime as dt

# Reading data

In [2]:
file_path = 'AAPL.csv'
dataDF = pd.read_csv(file_path)

# Adding "day_of_week" column

In [3]:
dataDF['Date'] = pd.to_datetime(dataDF['Date'])
dataDF['day_of_week'] = dataDF['Date'].dt.weekday_name

In [4]:
dataDF.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,day_of_week
0,2018-07-09,189.500000,190.679993,189.300003,190.580002,190.580002,19756600,Monday
1,2018-07-10,190.710007,191.279999,190.179993,190.350006,190.350006,15939100,Tuesday
2,2018-07-11,188.500000,189.779999,187.610001,187.880005,187.880005,18831500,Wednesday
3,2018-07-12,189.529999,191.410004,189.309998,191.029999,191.029999,18041100,Thursday
4,2018-07-13,191.080002,191.839996,190.899994,191.330002,191.330002,12513900,Friday
5,2018-07-16,191.520004,192.649994,190.419998,190.910004,190.910004,15043100,Monday
6,2018-07-17,189.750000,191.869995,189.199997,191.449997,191.449997,15534500,Tuesday
7,2018-07-18,191.779999,191.800003,189.929993,190.399994,190.399994,16393400,Wednesday
8,2018-07-19,189.690002,192.550003,189.690002,191.880005,191.880005,20286800,Thursday
9,2018-07-20,191.779999,192.429993,190.169998,191.440002,191.440002,20676200,Friday

# Adding "same_day_delta" column

In [5]:
dataDF['same_day_deta'] = dataDF['Open'].sub(dataDF['Close']).apply(lambda x:x/100)

In [7]:
dataDF['same_day_deta'].head(10)

0   -0.0108
1    0.0036
2    0.0062
3   -0.0150
4   -0.0025
5    0.0061
6   -0.0170
7    0.0138
8   -0.0219
9    0.0034
Name: same_day_deta, dtype: float64

# Adding "same_day_strategy" column

In [15]:
dataDF['same_day_strategy'] = dataDF['same_day_deta'].apply(lambda x: 1 if x > 0.0 else 0)

# Adding "next_close_delta" column

In [18]:
dataDF['same_day_strategy'] = dataDF['Close'].apply(lambda x: 1 if x > 0.0 else 0)

In [19]:
dataDF

,Date,Open,High,Low,Close,Adj Close,Volume,day_of_week,same_day_deta,same_day_strategy
0,2018-07-09,189.500000,190.679993,189.300003,190.580002,190.580002,19756600,Monday,-0.0108,0
1,2018-07-10,190.710007,191.279999,190.179993,190.350006,190.350006,15939100,Tuesday,0.0036,1
2,2018-07-11,188.500000,189.779999,187.610001,187.880005,187.880005,18831500,Wednesday,0.0062,1
3,2018-07-12,189.529999,191.410004,189.309998,191.029999,191.029999,18041100,Thursday,-0.0150,0
4,2018-07-13,191.080002,191.839996,190.899994,191.330002,191.330002,12513900,Friday,-0.0025,0
5,2018-07-16,191.520004,192.649994,190.419998,190.910004,190.910004,15043100,Monday,0.0061,1
6,2018-07-17,189.750000,191.869995,189.199997,191.449997,191.449997,15534500,Tuesday,-0.0170,0
7,2018-07-18,191.779999,191.800003,189.929993,190.399994,190.399994,16393400,Wednesday,0.0138,1
8,2018-07-19,189.690002,192.550003,189.690002,191.880005,191.880005,20286800,Thursday,-0.0219,0
9,2018-07-20,191.779999,192.429993,190.169998,191.440002,191.440002,20676200,Friday,0.0034,1
10,2018-07-23,190.679993,191.960007,189.559998,191.610001,191.610001,15989400,Monday,-0.0093,0
11,2018-07-24,192.449997,193.660004,192.050003,193.000000,193.000000,18697900,Tuesday,-0.0055,0
12,2018-07-25,193.059998,194.850006,192.429993,194.820007,194.820007,16709900,Wednesday,-0.0176,0
13,2018-07-26,194.610001,195.960007,193.610001,194.210007,194.210007,19076000,Thursday,0.0040,1
14,2018-07-27,194.990005,195.190002,190.100006,190.979996,190.979996,24024000,Friday,0.0401,1
15,2018-07-30,191.899994,192.199997,189.070007,189.910004,189.910004,21029500,Monday,0.0199,1
16,2018-07-31,190.300003,192.139999,189.339996,190.289993,190.289993,39373000,Tuesday,0.0001,1
17,2018-08-01,199.130005,201.759995,197.309998,201.500000,201.500000,67935700,Wednesday,-0.0237,0
18,2018-08-02,200.580002,208.380005,200.350006,207.389999,207.389999,62404000,Thursday,-0.0681,0
19,2018-08-03,207.029999,208.740005,205.479996,207.990005,207.990005,33447400,Friday,-0.0096,0
20,2018-08-06,208.000000,209.250000,207.070007,209.070007,209.070007,25398800,Monday,-0.0107,0

In [47]:
new = dataDF['Close'].loc[1:20].values
old = dataDF['Close'].loc[0:19].values
np.insert(result,21,0)
#dataDF['next_close_delta']= result
result

IndexError: index 21 is out of bounds for axis 0 with size 20